<div>
  <ul>
    <li>Home</li>
    <li>Agendamento</li>
    <li>Pacientes</li>
    <li>Fluxo de caixa</li>
    <li>
      <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>