<div class='nested-fields patient__prices--item'>
  <%= f.input :date, as: :date, label: false, order: [:month, :year] %>
  <%= f.input :price_cents, label: false %>
  <%= link_to_remove_association "", f %>
</div>