<% page_title 'Visão geral de pagamentos' %>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <% @date_range.each do |date|%>
        <th><%= date.strftime('%d') %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>aaa</td>
    </tr>
  </tbody>
</table>