.overview__tablesWrapper {
  display: flex;
}

.overview__appointmentItem {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.overview__dateFilterWrapper {
  padding: 20px 0;
}

.overview__dateFilterWrapper form {
  display: flex;
}

.overview__dateFilterWrapper form .input {
  margin-right: 10px;
}

.overview__dateFilterWrapper form.new_overview input[type='submit'] {
  height: 30px;
  padding: 4px;
}

/*--- Colors --- */

.overview__appointment--yellow {
  background-color: #fffdcb;
  text-align: center;
  border: 1px solid #e0deb0;
}

.overview__appointment--red {
  background-color: #ffd0cf;
  text-align: center;
  border: 1px solid #fd9e9e;
}

.overview__appointment--green {
  background-color: #e8ffb0;
  text-align: center;
  border: 1px solid #b9e456;
}

.overview__appointment--gray {
  background-color: #bdf0ff;
  text-align: center;
  border: 1px solid #1493b9;
}